/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unitypackage
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp
*.pdb
*.opendb
*.IDB